version: "3.9"

services:
  db:
     image: postgres:16
     container_name: inventory_db
     restart: always
     env_file:
       - .env
     ports:
       - "${POSTGRES_PORT}:5432"
     volumes:
       - db_data:/var/lib/postgresql/data

  api:
    build:
      context: ./api
    container_name: inventory_api
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  db_data: